<section id="contact-section">
    <article>
        <h1>Contact</h1>
        <section id="contact-intro">
            <p>Let's stay in touch. I'd like to hear about your ideas.
                I am currently available for web projects and job hiring.</p>
        </section>
        <section id="contact-form">
            <h2>Send me a message</h2>
            {{> contactForm}}
        </section>
    </article>
</section>