<form action="/contact" method="post">
    <label name="name"></label>
    <input type="text" name="name" id="name" minlength="3" placeholder="Your name" required>

    <label name="email"></label>
    <input type="email" name="email" id="email" placeholder="Your email adress" required>

    <label name="message"></label>
    <textarea name="message" id="message" minlength="3" maxlength="10000" placeholder="Tell me about your project"
        class="expanding" required></textarea>
    <button class="cta-btn"><input type="submit" value="Send"></button>
</form>