<header>
    <nav id="navbar">
        <ul>
            <li>
                <a href="#projects-section">Projects</a>
            </li>
            <li>
                <a href="#contact-section">Contact</a>
            </li>
            <li>
                <button id="color-theme-btn">
                </button>
            </li>
        </ul>
    </nav>
</header>