<section id="projects-section">
    <div id="projects-grid">
        <div class="project-tile">
            <a id="profile-link" href="https://alimentsporat.herokuapp.com/">
                <article class="project"
                    style="background: linear-gradient(rgba(255,255,255,0.1), rgba(0,0,0,0.7)), url('./assets/images/porat.jpg') center no-repeat;background-size: cover;">
                    <div class="layer">
                    </div>
                    <div class="project-text-wrapper">
                        <section class="project-text">
                            <h2>Les Aliments Porat</h2>
                            <p>I designed and implemented a brand new website for delicious Quebec-based vegan
                                company
                                Aliments Porat.</p>
                        </section>
                        <section class="project-tags">
                            <span>html</span>
                            <span>css</span>
                            <span>javascript</span>
                            <span>Google Maps API</span>
                        </section>
                    </div>
                    <div class="project-key-word">01</div>
                </article>
            </a>
        </div>
        <div class="project-tile">
            <a id="profile-link" href="https://codepen.io/myriammansouri/full/JeMWmM">
                <article class="project"
                    style="background: linear-gradient(rgba(255,255,255,0.1), rgba(0,0,0,0.7)), url('./assets/images/nina.jpg') center no-repeat;background-size: cover;">
                    <div class="layer">
                    </div>
                    <div class="project-text-wrapper">
                        <section class="project-text">
                            <h2>Tribute page for Nina Simone</h2>
                            <p>A one page tribute to wonderful singer Nina Simone.</p>
                        </section>
                        <section class="project-tags">
                            <span>html</span>
                            <span>css</span>
                            <span>javascript</span>
                        </section>
                    </div>
                    <div class="project-key-word">02</div>
                </article>
            </a>
        </div>
    </div>
    </div>
</section>