<section id="social-media">
    <ul>
        <li><a href="https://github.com/MyriamMansouri/" target="_blank"><i class="fab fa-github-alt"></i></a></li>
        <li><a href="https://ca.linkedin.com/in/myriammansouri" target="_blank"><i class="fab fa-linkedin-in"></i></a>
        </li>
        <li><a href="https://codepen.io/myriammansouri/" target="_blank"><i class="fab fa-codepen"></i></a></li>
    </ul>
</section>