$primary-dark-1:#0045ff;
$primary-light-1:#fff;
$secondary-dark-1:#000;
$secondary-light-1:#EEFF00;

$primary-dark-2:#ff006f;
$primary-light-2:#fff;
$secondary-light-2:#00FFCB;

$font-family:'Roboto', sans-serif;
$secondary-font-title: 'Marvel', sans-serif;

$hover-transition: all 0.35s ease;