body, html, ul, textarea {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0; }

section {
  box-sizing: border-box;
  padding: 10vw 15vw 15vw 15vw; }

h1 {
  line-height: 4.7rem;
  font-size: 5rem; }

h2 {
  font-size: 2.7rem;
  font-family: "Marvel", sans-serif; }

h1,
h2 {
  font-weight: bold; }

h1,
h2,
p {
  margin: 0; }

header,
footer {
  left: 0;
  right: 0; }

header {
  position: fixed;
  top: 0; }

footer {
  height: 50px; }

li {
  list-style-type: none; }

a {
  text-decoration: none; }

button {
  border: none; }

input,
textarea {
  border: none;
  width: 100%;
  display: block;
  outline: none;
  box-sizing: border-box;
  border: 2px solid;
  margin: 20px 0;
  padding: 10px;
  text-align: left; }
  input:focus,
  textarea:focus {
    border: 2px solid #0045ff; }

textarea {
  height: 40vh; }

#color-theme-btn {
  cursor: pointer;
  width: 20px;
  height: 20px;
  background-color: #ff006f;
  border-radius: 100%; }

header {
  z-index: 2; }

nav {
  padding: 10px 20px;
  line-height: 1.5em;
  z-index: 2; }
  nav ul {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end; }
    nav ul li {
      padding: 20px;
      color: #000;
      font-weight: 500; }
    nav ul a {
      letter-spacing: 2px;
      font-weight: inherit;
      color: inherit;
      transition: all 0.35s ease; }

nav li::after {
  content: '';
  display: block;
  bottom: 20px;
  height: 4px;
  width: 0%;
  background-color: #0045ff;
  transition: all 0.35s ease; }

nav li:hover::after {
  width: 70%; }

nav li:hover {
  color: #0045ff; }

nav li:hover {
  font-weight: bold; }

#welcome-section {
  height: 100vh; }

#hero-quote {
  padding: 15% 0 13vw 0; }
  #hero-quote #me {
    color: #0045ff;
    margin-bottom: -15px; }
  #hero-quote #job {
    color: #000;
    font-family: "Marvel", sans-serif; }

footer {
  background-color: #0045ff;
  color: #fff;
  text-align: center;
  padding-top: 30px;
  letter-spacing: 2px; }
  footer .material-icons {
    font-size: 16px;
    transform: translateY(2px); }

#projects-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 4em; }

.project-tile {
  overflow: hidden; }

.project {
  position: relative;
  height: 370px;
  background-size: cover; }
  .project .project-key-word {
    font-weight: bold;
    color: transparent;
    position: absolute;
    top: -67px;
    right: -20px;
    transition: all 0.35s ease; }
  .project .project-text-wrapper {
    position: absolute;
    bottom: 0;
    padding: 10% 20% 10% 10%; }
    .project .project-text-wrapper .project-text h2 {
      line-height: 2.4rem;
      letter-spacing: 1px; }
    .project .project-text-wrapper .project-text p {
      letter-spacing: 1px;
      padding: 13px 0 19px 0; }
    .project .project-text-wrapper .project-tags {
      line-height: 1.3em; }
    .project .project-text-wrapper .project-tags span {
      padding: 1px 5px;
      border: solid 1px;
      border-radius: 2px;
      font-size: 0.8em;
      white-space: nowrap; }
    .project .project-text-wrapper .project-text,
    .project .project-text-wrapper .project-tags {
      padding: 0; }

a {
  color: #fff; }

.layer {
  height: inherit;
  opacity: 0;
  background-color: #0045ff;
  transform: translate(-100%, 0%);
  transition: all 0.35s ease; }

.project:hover .layer {
  opacity: 0.6;
  transform: translate(0%, 0%); }

.project:hover .project-text-wrapper {
  display: none; }

.project:hover .project-key-word {
  color: #fff;
  font-size: 200px; }

@media (max-width: 750px) {
  #projects-section #projects-grid {
    grid-template-columns: 1fr; } }

#social-media {
  position: fixed;
  right: 0;
  top: 43vh; }
  #social-media li {
    padding: 10px 30px; }
  #social-media a {
    display: inline-block;
    font-size: 1.5em;
    color: #000;
    transition: all 0.35s ease; }
  #social-media a:hover {
    color: #0045ff;
    transform: translateY(3px); }

#contact-section h1, #contact-section h2 {
  margin-bottom: 20px; }

#contact-intro {
  padding: 35px 0;
  font-size: 1.2rem; }

#contact-form {
  padding: 0; }
  #contact-form input, #contact-form textarea {
    font-size: 1.2rem;
    line-height: 1.5rem; }
  #contact-form button input {
    margin: 0; }

.cta-btn {
  display: flex;
  flex-flow: row nowrap;
  align-items: baseline;
  padding: 0;
  outline: none;
  background-color: transparent; }
  .cta-btn > * {
    display: inline-block; }
  .cta-btn .cta-btn-content-wrapper {
    padding: 10px 20px;
    border: solid 2px;
    box-sizing: border-box;
    overflow: hidden;
    position: relative;
    height: 100%; }
    .cta-btn .cta-btn-content-wrapper::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 0;
      height: 100%;
      background-color: #EEFF00;
      transition: all 0.45s ease;
      z-index: -1; }
    .cta-btn .cta-btn-content-wrapper::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 0;
      height: 100%;
      background-color: #0045ff;
      opacity: 0.7;
      transition: all 0.35s ease;
      z-index: -1; }
    .cta-btn .cta-btn-content-wrapper:hover::after {
      width: 100%;
      left: 100%; }
    .cta-btn .cta-btn-content-wrapper:hover::before {
      width: 100%; }
  .cta-btn .fas.fa-heart {
    transition: all 0.35s ease; }
  .cta-btn:hover .fas.fa-heart {
    transform: translateX(20px); }
